
/*#app {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

.outerContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.innerContainerSlides {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainerSolutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.valueSlider {
    width: 70%;
    margin: 0 5%;

}

.solutionHeaders {
    padding: 15px;
    margin: 0 4px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
}

.solutionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solutionRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
    color: #f66845;
}

/* These classes should be the same as in webflow */
.defaultHeading {
    color: #f66845;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.paragraph {
    color: #6a859c;
    font-size: 14px;
}

.slideText {
    color: #334263;
}

.button2 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 4px 12px;
    border: solid 1px #c2c2c2;
    border-radius: 6px;
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: uppercase;
}

.icon {
    width: 24px;
}

.sliderMinMaxText {
    width: 10%;
    min-width: 50px;
}

.v-application--wrap {
    min-height: unset !important;
}

.cls-1 {
    fill: none;
    stroke: #334263;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}