<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/nimartin99/fdrei_game@master/game.css">-->
    <link rel="stylesheet" href="game.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<v-app id="app" class="app">
    <div class="outerContainer">
<!--        <svg width="200" height="200" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.5 19.5">-->
<!--            <g id="transport">-->
<!--                <g>-->
<!--                    <g>-->
<!--                        <line class="cls-1" x1="14.75" y1=".75" x2="23.75" y2="9.75"/>-->
<!--                        <line class="cls-1" x1="14.75" y1="18.75" x2="23.75" y2="9.75"/>-->
<!--                    </g>-->
<!--                    <line class="cls-1" x1=".75" y1="9.75" x2="23.75" y2="9.75"/>-->
<!--                </g>-->
<!--            </g>-->
<!--        </svg>-->
        <div
            v-if="!showResults"
            class="innerContainerSlides"
        >
            <div style="display: flex; flex-direction: row; align-items: center; width: 90%; margin: 0 5% 0 5%;">
                <span class="sliderMinMaxText">Trifft überhaupt nicht zu</span>
                <v-slider
                        v-model="sliderValue[slideIndex]"
                        min="0"
                        max="10"
                        hide-details
                        thumb-label="always"
                        class="valueSlider"
                        color="#334263"
                        track-color="#e5655d"
                ></v-slider>
                <span class="sliderMinMaxText">Trifft voll zu</span>
            </div>
            <p class="slideText" v-html="sliderText[slideIndex]"></p>
            <div style="display: flex; flex-direction: row">
                <button
                    v-if="slideIndex > 0"
                    class="button2"
                    style="margin-right: 4px"
                    @click="previousSlide()"
                >
                    <img
                        src="https://uploads-ssl.webflow.com/634689fd64a47c1645953a58/63dfb2986af00b546e52d444_arrowLeft.svg"
                        class="icon"
                        style="margin-right: 8px"
                    >
                    Zurück
                </button>
                <button
                    class="button2"
                    style="margin-left: 4px"
                    @click="nextSlide()"
                >
                    {{ slideIndex === sliderText.length - 1 ? 'Zeig mir meine individuelle Beratung' : 'Weiter' }}
                    <img
                         src="https://uploads-ssl.webflow.com/634689fd64a47c1645953a58/63dfb2980c95fc5d40218275_arrowRight.svg"
                         class="icon"
                         style="margin-left: 8px; color: black"
                    >
                </button>
            </div>
        </div>
        <div
            v-else
            style="display: flex; flex-direction: column; align-items: center"
        >
<!--            <v-progress-linear-->
<!--                v-model="percentageProgress"-->
<!--                style="width: 200px"-->
<!--            />-->
            <div class="innerContainerSolutions">
                <div
                    v-for="(col, index) in selectedSolutions"
                    class="solutionHeaders"
                    style="display: flex; flex-direction: column"
                    :style="selectedSolutions[index].length ? '' : 'display: none'"
                >
                    <span class="defaultHeading">{{ solutionHeaders[index] }}</span>
                    <div class="solutionsContainer">
                        <div
                                v-for="row in selectedSolutions[index]"
                                class="solutionRow"
                        >
                            <span class="paragraph">{{ row.text }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button
                    style="margin-top: 4px"
                    class="button2"
                    @click="reset()"
            >
                Neu starten
            </button>
        </div>
    </div>
</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<!--<script src="https://cdn.jsdelivr.net/gh/nimartin99/fdrei_game@master/game.js"></script>-->
<script src="game.js"></script>
</body>
</html>
